Automate_SIEM_Alert_Enrichment_with_MITRE_ATT_CK.json
{
  "name": "Automate SIEM Alert Enrichment with MITRE ATT&CK",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "2dae6f28-89e8-4a02-9a17-83351ad7a102",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        580,
        140
      ],
      "webhookId": "a9668bb8-bbe8-418a-b5c9-ff7dd431244f",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a cybersecurity expert trained on MITRE ATT&CK and enterprise incident response. Your job is to:\n1. Extract TTP information from SIEM data.\n2. Provide actionable remediation steps tailored to the alert.\n3. Cross-reference historical patterns and related alerts.\n4. Recommend external resources for deeper understanding.\n\nEnsure that:\n- TTPs are tagged with the tactic, technique name, and technique ID.\n- Remediation steps are specific and actionable.\n- Historical data includes related alerts and notable trends.\n- External links are relevant to the observed behavior.\n- MUST ANSWER ONLY IN KOREAN\n"
        }
      },
      "id": "2b8bb924-3ede-4d08-a2e4-3c1c7f08eb21",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        780,
        140
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "2996ab75-5085-4cb0-a32a-ee5eb8d14a20",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        740,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "18f20a35-e6fe-4296-afb6-fb92c9de64ef",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        880,
        1220
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "LLBV2P6C6TS0J6dq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.description }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "killchain",
                "value": "={{ $json.kill_chain_phases }}"
              },
              {
                "name": "external",
                "value": "={{ $json.external_references }}"
              }
            ]
          }
        }
      },
      "id": "50c7574a-be77-4935-adb1-0ca2319a871c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1000,
        1220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1781b3bf-2239-4841-9b26-f5bf0e099973",
      "name": "Token Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "position": [
        1000,
        1400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "41ea7e29-a58e-4dbd-8d6d-cb5f8685ca33",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        880,
        360
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "5ca6c459-70c9-448e-8191-427729b52d23",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1040,
        540
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "LLBV2P6C6TS0J6dq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "ae0d9b10-e9b8-4ed1-983a-167e4baaa80f",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        540,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7b4854fb-9d53-4036-811a-06b33e2004e1",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        100,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Embed Mitre ATTCK into  Vector Store\nTo provide data for your Vector store, you need to pass it in as JSON, and ensure it's setup correctly. This flow pulls the JSON file from Google Drive and extracts the JSON data and then passes it into the qdrant collection. ",
        "height": 860,
        "width": 1380,
        "color": 7
      },
      "id": "3a4ec0bf-4634-48b2-890b-ec524aded1cf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1EiGum1PkJzoy_fwmaS0P6FRiF0wUnv9t",
          "mode": "list",
          "cachedResultName": "cleaned_mitre_attack_data.json",
          "cachedResultUrl": "https://drive.google.com/file/d/1EiGum1PkJzoy_fwmaS0P6FRiF0wUnv9t/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "c9c70503-f032-4409-bad5-348ce0ab3c9a",
      "name": "Pull Mitre Data From Gdrive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        320,
        1000
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OEGGPHfAiNfkirsC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "mitre_attack_vector_store",
        "toolDescription": "The mitre_attack_vector_store is a knowledge base trained on the MITRE ATT&CK framework. It is designed to help identify, correlate, and provide context for cybersecurity incidents based on textual descriptions of alerts, events, or behaviors. This tool leverages precomputed embeddings of attack techniques, tactics, and procedures (TTPs) to map user queries (such as SIEM-generated alerts or JIRA ticket titles) to relevant MITRE ATT&CK techniques.\n\nBy analyzing input text, the vector store can:\n\nRetrieve the most relevant MITRE ATT&CK entries (e.g., techniques, tactics, descriptions, external references).\nProvide structured context about potential adversary behaviors.\nSuggest remediation actions or detection methods based on the input.",
        "pineconeIndex": {
          "__rl": true,
          "value": "mitre",
          "mode": "list",
          "cachedResultName": "mitre"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ],
      "id": "bde526a7-2651-46f9-aebb-9384b2fb876f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "mFX9NHDsBRg7vRcc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Talk to your Vector Store\nNow that your vector store has been updated with the embedded data, \nyou can use the n8n chat interface to talk to your data using OpenAI, \nOllama, or any of our supported LLMs.",
        "height": 680,
        "width": 1380,
        "color": 7
      },
      "id": "6f131bd8-492a-4a34-b6a8-a7496971254f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mitre",
          "mode": "list",
          "cachedResultName": "mitre"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        980,
        1000
      ],
      "id": "71a436cf-bc57-440d-aa5f-3f9805bfb041",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "mFX9NHDsBRg7vRcc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        720,
        360
      ],
      "id": "343d0062-d73e-43ec-a11f-161a12474e92",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "aok3760G7qC6cMSF",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        20
      ],
      "id": "6163e5f6-6213-4ee5-915a-dc409f636000",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Pull Mitre Data From Gdrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Mitre Data From Gdrive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff846f61-a471-488a-a543-0cea9ade2f46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aadbff4410dd9d1786f247987e16ea2f31e4d42d2dd7d7f51389a021736ae496"
  },
  "id": "TH59blbUcPoo45bj",
  "tags": []
}